<div *ngIf="!profile_made" class="d-flex align-items-center justify-content-center">
    <div class="card" style="width: 400px">
        <div class="card-body">
            <h3 class="card-title">Question {{questionIndex + 1}}</h3>
            <p>{{questions[questionIndex]}}</p> <p *ngIf="questionIndex === 7 || questionIndex === 8"><i>Seperate entries with commas.</i></p>
            <div class="form-group" *ngIf="questionIndex === 0 || questionIndex == 9 || questionIndex === 13 || questionIndex === 14 || questionIndex === 15 || questionIndex === 17">
                <input class="form-control" required [(ngModel)]="answers[questionIndex]" accept="image/png, image/jpeg" #caseID="ngModel">
            </div>
            <div class="form-group" *ngIf="questionIndex === 1">
                <input type="file" class="form-control" id="customFile" (change)="onFilesSelected($event, false)"/>
                <p>*Your picture will be cropped to display in both 16x9 (portrait) and square formats*</p>
            </div>
            <div class="form-group date" data-provide="datepicker" *ngIf="questionIndex === 2">
                <label>Birthday</label>
                <input class="form-control" name="birthday" type="date" [(ngModel)]="answers[questionIndex]"/>
            </div>
            <select class="form-select" aria-label="Select a year" *ngIf="questionIndex === 3" [(ngModel)]="answers[questionIndex]">
                <option value="1st Year">1st Year</option>
                <option value="2nd Year">2nd Year</option>
                <option value="3rd Year">3rd Year</option>
                <option value="4th Year">4th Year</option>
                <option value="5th Year">5th Year</option>
                <option value="Graduate Student">Graduate Student</option>
            </select>
            <div class="form-group" *ngIf="questionIndex === 4">
                <textarea class="form-control" required [(ngModel)]="answers[questionIndex]" style="height: 150px;" #caseID="ngModel"></textarea>
            </div>
            <div *ngIf="questionIndex === 5"> 
                <div class="form-check" *ngFor="let gender of genderOptions">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" [(ngModel)]="answers[questionIndex]" [value]="gender">
                    {{gender}}
                </div>
            </div>
            <div *ngIf="questionIndex === 6">
                <div class="form-check" *ngFor="let gender of genderOptions">
                    <input class="form-check-input" type="checkbox" [value]="gender" (change)="updateCheckbox()">
                    <label class="form-check-label">
                        {{gender}}
                    </label>
                </div>
            </div>
            <div class="form-group" *ngIf="questionIndex === 7">
                <i>Use a comma to separate majors</i>
                <input class="form-control" list="datalistOptions" id="exampleDataList" placeholder="Type to search..." type="email" multiple [(ngModel)]="answers[questionIndex]">
                <datalist id="datalistOptions">
                    <option *ngFor="let major of majors" [value]="major">
                </datalist>
            </div>
            <div class="form-group" *ngIf="questionIndex === 8">
                <i>Use a comma to separate clubs</i>
                <input class="form-control" list="datalistOptions" id="exampleDataList" placeholder="Type to search..." type="email" multiple [(ngModel)]="answers[questionIndex]">
                <datalist id="datalistOptions">
                    <option *ngFor="let club of clubs" [value]="club">
                </datalist>
            </div>
            <div *ngIf="questionIndex === 10">
                <div class="form-check" *ngFor="let options of lookingForOptions">
                    <input class="form-check-input" type="checkbox" [value]="options" (change)="updateCheckbox()">
                    <label class="form-check-label">
                        {{options}}
                    </label>
                </div>
            </div>
            <div *ngIf="questionIndex === 11"> 
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" [(ngModel)]="answers[questionIndex]" value="democrat">
                    <i class="fa-solid fa-democrat"></i>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" [(ngModel)]="answers[questionIndex]" value="republican">
                    <i class="fa-solid fa-republican"></i>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" [(ngModel)]="answers[questionIndex]" value="trash">
                    <i class="fa-solid fa-trash"></i>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" [(ngModel)]="answers[questionIndex]" value="bath">
                    <i class="fa-solid fa-bath"></i>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" [(ngModel)]="answers[questionIndex]" value="fish">
                    <i class="fa-solid fa-fish"></i>
                </div>
            </div>
            <div *ngIf="questionIndex === 12"> 
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" [(ngModel)]="answers[questionIndex]" value="android">
                    <i class="fa-brands fa-android"></i>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" [(ngModel)]="answers[questionIndex]" value="apple">
                    <i class="fa-brands fa-apple"></i>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" [(ngModel)]="answers[questionIndex]" value="phone">
                    <i class="fa-solid fa-phone-flip"></i>
                </div>
            </div>
            <select class="form-select" aria-label="Select a food option" *ngIf="questionIndex === 16" [(ngModel)]="answers[questionIndex]">
                <option *ngFor="let option of tinkFoods" [value]="option">{{option}}</option>
            </select>
            <select class="form-select" aria-label="Select a season" *ngIf="questionIndex === 18" [(ngModel)]="answers[questionIndex]">
                <option *ngFor="let option of seasons" [value]="option">{{option}}</option>
            </select>
            <div>
                <button class="btn btn-outline-primary" *ngIf="questionIndex !== questions.length - 1" (click)="questionIndex = questionIndex + 1" [disabled]="!answers[questionIndex]">Next</button>
                <button class="btn btn-outline-primary" *ngIf="questionIndex === questions.length - 1" (click)="setProfile()" [disabled]="!answers[questionIndex]">Create Profile!</button>
            </div>
        </div>
    </div>
    <!-- {{answers[questionIndex]}} -->
</div>

<div *ngIf="profile_made" class="d-flex align-items-center justify-content-center">
    <div class="card holder profile d-flex align-items-center">
        <h1 class="card-title">Edit Profile</h1>
        <div class="card-body d-flex">
            <div class="col-sm-4 profile-col">
                <div class="row question-group">
                    <div class="d-flex flex-row align-items-center justify-content-center">
                        <div class="d-flex profile-picture-box">
                            <img [src]="picture" class="picture"/>
                        </div>
                        <div class="d-flex profile-mini-box">
                            <img [src]="picture" class="picture-mini"/>
                        </div>
                    </div>
                    <i>The above photo will not update until you submit and reopen this page</i>
                    <input label="Change Profile Picture" type="file" accept="image/png, image/jpeg" class="form-control" id="customFile" (change)="onFilesSelected($event, true)"/>
                </div>
                <div class="row question-group">
                    <h3>Name</h3>
                    <input class="form-control" [(ngModel)]="editAnswers.name">
                </div>
                <div class="row question-group">
                    <h3>Birthday</h3>
                    <input class="form-control" disabled [(ngModel)]="editAnswers.birthday">
                </div>
                <div class="row question-group">
                    <h3>School Year</h3>
                    <select class="form-select" aria-label="Select a year"  [(ngModel)]="editAnswers.year">
                        <option value="1st Year">1st Year</option>
                        <option value="2nd Year">2nd Year</option>
                        <option value="3rd Year">3rd Year</option>
                        <option value="4th Year">4th Year</option>
                        <option value="5th Year">5th Year</option>
                        <option value="Graduate Student">Graduate Student</option>
                    </select>
                </div>
                <div class="row question-group">
                    <h3>Major</h3>
                    <i>Use a comma to separate majors</i>
                    <input class="form-control" list="datalistOptions" id="exampleDataList" placeholder="Type to search..." type="email" multiple [(ngModel)]="editAnswers.majors">
                    <datalist id="datalistOptions">
                        <option *ngFor="let major of majors" [value]="major">
                    </datalist>
                </div>
                <div class="row question-group">
                    <h3>Clubs</h3>
                    <i>Use a comma to separate clubs</i>
                    <input class="form-control" list="datalistOptions" id="exampleDataList" placeholder="Type to search..." type="email" multiple [(ngModel)]="editAnswers.clubs">
                    <datalist id="datalistOptions">
                        <option *ngFor="let club of clubs" [value]="club">
                    </datalist>
                </div>
                <div class="row question-group">
                    <h3>Ideal Campus Date</h3>
                    <input class="form-control" [(ngModel)]="editAnswers.ideal_date">
                </div>
            </div>
            <div class="col-sm-4 profile-col">
                <div class="row question-group">
                    <h3>Your Gender</h3>
                    <div class="form-check" *ngFor="let gender of genderOptions">
                        <input class="form-check-input" type="radio" name="gender" id="flexRadioDefault1" [(ngModel)]="editAnswers.gender_identity" [value]="gender">
                        {{gender}}
                    </div>
                </div>
                <div class="row question-group">
                    <h3>Gender Preference</h3>
                    <div class="form-check" *ngFor="let gender of genderOptions">
                        <input class="form-check-input" type="checkbox" [value]="gender" (change)="updateEditedCheckbox(['Man', 'Woman', 'Non-Binary', 'Gender Fluid'])">
                        <label class="form-check-label">
                            {{gender}}
                        </label>
                    </div>
                </div>
                <div class="row question-group">
                    <h3>Relationship Preference</h3>
                    <div class="form-check" *ngFor="let options of lookingForOptions">
                        <input class="form-check-input" type="checkbox" [value]="options" (change)="updateEditedCheckbox(['Short Term', 'Long Term', 'Friends', 'Study Buddies', 'Not Sure'])">
                        <label class="form-check-label">
                            {{options}}
                        </label>
                    </div>
                </div>
                <div class="row question-group">
                    <h3>Political Leaning</h3>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="politics" id="flexRadioDefault1" [(ngModel)]="editAnswers.political_leaning" value="democrat">
                        <i class="fa-solid fa-democrat"></i>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="politics" id="flexRadioDefault1" [(ngModel)]="editAnswers.political_leaning" value="republican">
                        <i class="fa-solid fa-republican"></i>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="politics" id="flexRadioDefault1" [(ngModel)]="editAnswers.political_leaning" value="trash">
                        <i class="fa-solid fa-trash"></i>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="politics" id="flexRadioDefault1" [(ngModel)]="editAnswers.political_leaning" value="bath">
                        <i class="fa-solid fa-bath"></i>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="politics" id="flexRadioDefault1" [(ngModel)]="editAnswers.political_leaning" value="fish">
                        <i class="fa-solid fa-fish"></i>
                    </div>
                </div>
                <div class="row question-group">
                    <h3>Apple or Android?</h3>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="applevandroid" id="flexRadioDefault1" [(ngModel)]="editAnswers.apple_android" value="android">
                        <i class="fa-brands fa-android"></i>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="applevandroid" id="flexRadioDefault1" [(ngModel)]="editAnswers.apple_android" value="apple">
                        <i class="fa-brands fa-apple"></i>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="applevandroid" id="flexRadioDefault1" [(ngModel)]="editAnswers.apple_android" value="phone">
                        <i class="fa-solid fa-phone-flip"></i>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 profile-col">
                <div class="row question-group">
                    <h3>Religion</h3>
                    <input class="form-control" [(ngModel)]="editAnswers.religion">
                </div>
                <div class="row question-group">
                    <h3>Mother's Maiden Name</h3>
                    <input class="form-control" [(ngModel)]="editAnswers.mothers_maiden_name">
                </div>
                <div class="row question-group">
                    <h3>Case Email Passphrase</h3>
                    <input class="form-control" [(ngModel)]="editAnswers.passphrase">
                </div>
                <div class="row question-group">
                    <h3>Melt, PK, or Pinzas?</h3>
                    <select class="form-select" aria-label="Select a food option" [(ngModel)]="editAnswers.tink">
                        <option *ngFor="let option of tinkFoods" [value]="option">{{option}}</option>
                    </select>
                </div>
                <div class="row question-group">
                    <h3>Favorite Study Spot</h3>
                    <input class="form-control" [(ngModel)]="editAnswers.study_spot">
                </div>
                <div class="row question-group">
                    <h3>Favorite Season</h3>
                    <select class="form-select" aria-label="Select a season" [(ngModel)]="editAnswers.season">
                        <option *ngFor="let option of seasons" [value]="option">{{option}}</option>
                    </select>
                </div>
                <div class="row question-group">
                    <h3>Bio</h3>
                    <textarea class="form-control" style="height: 150px;" [(ngModel)]="editAnswers.bio"></textarea>
                </div>
                <div class="row question-group">
                    <button (click)="submitEditedProfile()" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </div>
    </div>
</div>