<div class="d-flex align-items-center justify-content-center">
    <div class="card">
        <h1>Question {{questionIndex + 1}}</h1>
        <p>{{questions[questionIndex]}}</p>
        <div class="form-group" *ngIf="questionIndex < 2 || questionIndex > 3">
            <input class="form-control" id="caseID" name="caseID" required [(ngModel)]="answers[questionIndex]" #caseID="ngModel">
            <div *ngIf="caseID.errors?.['required']" class="alert alert-danger">
                Error
            </div>
        </div>
        <div class="form-group" *ngIf="questionIndex === 2">

        </div>
        <div class="form-group" *ngIf="questionIndex === 3">
            <input class="form-control" list="datalistOptions" id="exampleDataList" placeholder="Type to search...">
            <datalist id="datalistOptions">
                <option *ngFor="let major of majors" [value]="major">
            </datalist>
        </div>
        <div>
            <button class="btn btn-outline-primary" *ngIf="questionIndex !== 0" (click)="questionIndex = questionIndex - 1">Back</button>
            <button class="btn btn-outline-primary" *ngIf="questionIndex !== questions.length - 1" (click)="questionIndex = questionIndex + 1">Next</button>
        </div>
    </div>
</div>