<div class="d-flex justify-content-center align-items-center">
    <nav class="fixed-top navbar navbar-dark bg-primary header">
        <div>
            <a class="navbar-brand">
                CWRUmate
            </a>
        </div>
        <div>
            <button class="btn btn-primary" *ngIf="session$ | async" (click)='routeProfile()' [routerLink]="['/profile']">
                Edit Profile
            </button>
            <button class="btn btn-primary" *ngIf="session$ | async" (click)='routeHome()' [routerLink]="['/home']">
                Swipe!
            </button>
            <button class="btn btn-primary" *ngIf="session$ | async" (click)='routeMessages()' [routerLink]="['/messages']">
                Messages
            </button>
        </div>
    </nav>
    <router-outlet style="height: 100vh;"></router-outlet>
    <footer class="fixed-bottom bg-dark text-center text-lg-start footer">
        <div class="text-center p-3 bg-secondary">
            Created by Ari Ostrow, JD Tramonte, Amy Churchill, and Georgia Martinez.
        </div>
    </footer>
</div>