<div class="d-flex justify-content-center align-items-center">
    <nav class="fixed-top navbar navbar-dark bg-primary header">
        <a class="navbar-brand" href="#">
            <!-- <img src="/docs/4.0/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt=""> -->
            CWRUmate
        </a>
        <!-- <a class="navbar-brand" [routerLink]="['/home']">
            Swipe!
        </a>
        <a class="navbar-brand" [routerLink]="['/messages']">
            Messages
        </a> -->
    </nav>
    <router-outlet style="height: 100vh;"></router-outlet>
    <footer class="fixed-bottom bg-dark text-center text-lg-start footer">
        <div class="text-center p-3 bg-secondary">
            Created by Ari Ostrow, JD Tramonte, Amy Churchill, and Georgia Martinez.
        </div>
    </footer>
</div>