<div class="holder d-flex align-items-center justify-content-center">
    <div class="spinner-border text-primary" style="width: 5rem; height: 5rem;" role="status" *ngIf="(!profiles[0] && !noMatches) || loading">
        <span class="sr-only"></span>
    </div>


    <div class="card col-sm-6 d-flex align-items-center" *ngIf="noMatches">
        <div class="card-body">
            You have seen all compatible CWRUmates, please come back later to see if there are more.
        </div>
    </div>
</div>

<div *ngIf="profiles[0] && !noMatches && !loading" class="d-flex align-items-center justify-content-center holder">
    <button id="no" (click)="decline()" class="col-lg-3 no btn btn-outline-danger"> 
        <i class="fa-solid fa-face-meh fa-2xl"></i>
    </button>
    <div class="col-lg-6 d-flex flex-column">
        <div *ngIf="swipeFailed" class="">There was an error with the server. Please try to swipe again.</div>
        <div class="card profile-card">
            <div class="row g-0">
                <div class="col-lg-5 picture-box">
                    <img src="../../assets/cute-dog.jpg" class="rounded-start picture"/>
                </div>
                <div class="col-lg-7">
                    <div class="card-body row profile-text">
                        <h3 class="card-title">{{profiles[profiles_index].name}} {{age(profiles[profiles_index].birthday)}}  <i [class]="phone_pref(profiles[profiles_index].apple_android)"></i> <i [class]="political_pref(profiles[profiles_index].political_leaning)"></i> {{profiles[profiles_index].season}}</h3>
                        <p>{{profiles[profiles_index].year}} {{profiles[profiles_index].gender_identity}}</p>
                        <div class="col-lg-6">
                            <h5>Major</h5>
                            <div>{{majorString(profiles[profiles_index].majors)}} </div>
                            <h5>Bio</h5>
                            <div>{{profiles[profiles_index].bio}}</div>
                            <h5>Clubs</h5>
                            <div>{{majorString(profiles[profiles_index].clubs)}}</div>
                            <h5>Religion</h5>
                            <div>{{profiles[profiles_index].religion}}</div>
                            <h5></h5>
                        </div>
                        <div class="col-lg-6">
                            <h5>Ideal Date</h5>
                            <div>{{profiles[profiles_index].ideal_date}}</div>
                            <h5>Looking For</h5>
                            <div>{{majorString(profiles[profiles_index].looking_for)}}</div>
                            <h5>Favorite Tinkham Meal & Study Spot</h5>
                            <div>{{profiles[profiles_index].tink}} & {{profiles[profiles_index].study_spot}}</div>
                            <h5></h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <button id="yes" (click)="accept()" class="col-lg-3 yes btn btn-outline-info">
        <i class="fa-solid fa-face-smile fa-2xl"></i>
    </button>
</div>
