<div class="d-flex align-items-center justify-content-center">
    <div class="card mb-3" style="max-width: 70vh; max-height: 85vh">
        <div class="row">
            <div class="col-sm-4">
                <img src="../../assets/cute-dog.jpg" class="img-fluid rounded-start"/>
            </div>
            <div class="col-sm-8">
                <div class="card-body" data-bs-spy="scroll">
                    <h3 class="card-title">*First Name Here*</h3>
                    <h4>Major</h4>
                    <div>Comp Sci<i class="fa-solid fa-computer"></i></div>
                    <h4></h4>
                </div>
            </div>
        </div>
    </div>
</div>
