<div class="d-flex align-items-center justify-content-center">
  <div class="card">
    
    <form class="card-body needs-validation" novalidate>
      <h3 class="card-title">
        Create Account
      </h3>
      
      <div class="form-group">
          <label for="caseID" class="form-label">Case ID</label>
          <input class="form-control" id="caseID" name="caseID" required placeholder="Enter Case ID" [(ngModel)]="user.caseID" #caseID="ngModel">
          <div class="invalid-feedback">  
            <div *ngIf="userTaken">
              This user already has an account.
            </div>
            <div *ngIf="!userTaken">
              Name is required.
            </div>
          </div>
        </div>
      <div class="form-group">
          <label for="password" class="form-label">Password</label>
          <input class="form-control" id="password" name="password" required placeholder="Enter Password" [(ngModel)]="user.password" #password="ngModel" type="password">
          <div class="invalid-feedback">
              Please enter your password.
          </div>
      </div>
      <button (click)="submit()" class="btn btn-primary">Submit</button>
      <div>
        Already have an account? <a [routerLink]="['/login']">Login.</a>
      </div>
    </form>
    
  </div>
</div>