<div class="d-flex align-items-center justify-content-center">
  <div class="spinner-border text-primary" style="width: 5rem; height: 5rem;" role="status" *ngIf="loading">
    <span class="sr-only"></span>
  </div>
  <div class="card" *ngIf="!loading">
    <form class="card-body needs-validation" novalidate>
        <h3 class="card-title">
          Log In To Your Account
        </h3>
        <div class="form-group">
            <label for="caseID" class="form-label">Case ID</label>
            <input class="form-control" id="caseID" name="caseID" required placeholder="Enter Case ID" [(ngModel)]="user.caseID" #caseID="ngModel">
            <div class="invalid-feedback">
              <div *ngIf="notAUser">
                  There is no account with this Case ID.
              </div>
              <div *ngIf="!notAUser">
                  Name is required.
              </div>
            </div>
        </div>
        <div class="form-group">
            <label for="password" class="form-label">Password</label>
            <input class="form-control" id="password" name="password" required placeholder="Enter Password" [(ngModel)]="user.password" #password="ngModel" type="password">
            <div class="invalid-feedback">
              <div *ngIf="wrongPassword">
                Incorrect Password.
              </div>
              <div *ngIf="!wrongPassword">
                Please enter your password.
              </div>
            </div>
        </div>
        <button class="btn btn-primary" (click)="signIn()">Sign In</button>
        <div>
          Don't have an account? <a [routerLink]="['/sign-up']">Sign Up.</a>
        </div>
    </form>
    
  </div>
</div>