<div class="card profile-card">
    <div class="row g-0">
        <div class="col-sm-5 picture-box">
            <img [src]="profile.photo" class="rounded-start picture"/>
        </div>
        <div class="col-sm-7">
            <div class="card-body row profile-text">
                <h3 class="card-title">{{profile.name}} {{age(profile.birthday)}}  <i [class]="phone_pref(profile.apple_android)"></i>   <i [class]="political_pref(profile.political_leaning)"></i> {{profile.season}}</h3>
                <p>{{profile.year}} {{profile.gender_identity}}</p>
                <div class="col-lg-6">
                    <h5><br>Major</h5>
                    <div>{{majorString(profile.majors)}} </div>
                    <h5><br>Bio</h5>
                    <div>{{profile.bio}}</div>
                    <h5><br>Clubs</h5>
                    <div>{{majorString(profile.clubs)}}</div>
                    <h5><br>Religion</h5>
                    <div>{{profile.religion}}</div>
                </div>
                <div class="col-lg-6">
                    <h5><br>Ideal Date</h5>
                    <div>{{profile.ideal_date}}</div>
                    <h5><br>Looking For</h5>
                    <div>{{majorString(profile.looking_for)}}</div>
                    <h5><br>Favorite Tinkham Meal & Study Spot</h5>
                    <div>{{profile.tink}} & {{profile.study_spot}}</div>
                </div>
            </div>
        </div>
    </div>
</div>
