<!-- Button trigger modal -->
<button type="button" class="btn messages-btn" data-bs-toggle="modal" data-bs-target="#chatModal">
    <div class="row">
        <div class="col-sm-2 justify-content-center align-items-center"> 
            <div class="d-flex justify-content-center profile-mini-box">
                <img src="../../../assets/cute-dog.jpg" class="picture-mini"/>
            </div>
        </div> 
        <div class="col-sm-9">
            <div class="row message-name justify-content-left">{{name}}</div>
            <div class="row message-last justify-content-left">{{lastMessage}}</div>
        </div>
        <div class="col-sm-1">
            <img *ngIf="!read" class="read-bubble" src="../../../assets/icons8-filled-circle-24.png"/>
        </div>
    </div>
</button>
  
<!-- Modal -->
<div class="modal fade" id="chatModal" data-bs-backdrop="static" data-bs-keyboard="true" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <nb-layout class="modal-content">
            <nb-layout-column>
                <nb-chat title="Nebular Conversational UI" size="large">
                    <nb-chat-message *ngFor="let msg of messages"
                                    [message]="msg.text"
                                    [reply]="msg.reply"
                                    [sender]="msg.name"
                                    [date]="msg.date"
                                    avatar="">
                    </nb-chat-message>
                    <nb-chat-form (send)="sendMessage($event)">
                    </nb-chat-form>
                </nb-chat>
            </nb-layout-column>
        </nb-layout>
    </div>
</div>