<!-- Button trigger modal -->
<button type="button" class="btn messages-btn" data-bs-toggle="modal" attr.data-bs-target="#chatModal_{{replaceSpace(name)}}">
    <div class="d-flex" style="width: 100%">
        <div class="d-flex justify-content-center profile-mini-box" (click)="activateProfileCard()">
            <img [src]="picture" class="picture-mini"/>
        </div>
        <div class="d-flex-column" style="margin-left: 10px; width: calc(100% - 10px - 86px)" (click)="profile_display = false;">
            <div class="d-flex message-name justify-content-left">{{name}}</div>
            <div class="d-flex message-last justify-content-left">{{lastMessage}}</div>
        </div>
        <div class="notif-bubble">
            <img *ngIf="!read" class="read-bubble" src="../../../assets/icons8-filled-circle-24.png"/>
        </div>
    </div>
</button>

<!-- Modal -->
<div class="modal fade" id="chatModal_{{replaceSpace(name)}}" data-bs-keyboard="true" tabindex="-1">
    <div *ngIf="profile_display" class="d-flex align-items-center justify-content-center profile-card-holder">
        <div class="spinner-border text-primary align-self-center justify-self-center" style="width: 5rem; height: 5rem;" role="status" *ngIf="modalLoading">
            <span class="sr-only"></span>
        </div>
        <app-profile-card *ngIf="!modalLoading" [profile]="profile"></app-profile-card>
    </div>


    <div *ngIf="!profile_display" class="modal-dialog modal-dialog-scrollable">
        <nb-layout class="modal-content" scrollBottom="true">
            <nb-layout-column class="" style="padding: 0;">
                <div class="spinner-border text-primary align-self-center justify-self-center" style="width: 5rem; height: 5rem;" role="status" *ngIf="modalLoading">
                    <span class="sr-only"></span>
                </div>

                <nb-chat *ngIf="!modalLoading" title="Chat with {{name}}!" size="giant">
                    <nb-chat-message *ngIf="!modalLoading && messages.length == 0"
                                    message='To break the ice, say something like:
"How do you like your classes?"
"Are you struggling in classes like I am?"
"Which class is most difficult?"'
                                    reply="true"
                                    sender="CWRUmate"
                                    avatar="../../../assets/favicon/favicon-32x32.png">
                    </nb-chat-message>
                    <nb-chat-message *ngFor="let msg of messages"
                                    [message]="msg.text"
                                    [reply]="msg.sender !== otherID"
                                    [sender]="msg.sender !== otherID ? myName : name"
                                    [date]="msg.date"
                                    [avatar]="picture">
                    </nb-chat-message>
                    <nb-chat-form (send)="sendMessage($event)">
                    </nb-chat-form>
                </nb-chat>
            </nb-layout-column>
        </nb-layout>
    </div>
</div>